<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}Florilège{% endblock %}</title>

    {% block css %}
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional Bootstrap theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="#">Acceuil</a></li>
                <li><a href="#">Connexion</a></li>
                <li><a href="#">Tableau de bord</a></li>
                {# <li><a href="{{ path('oc_platform_add') }}">Add</a></li> #}
            </ul>
          </div>
        </nav>

        <div id="navigation" class="col-md-3">
          {% block navigation %}
            {# Ici il y aura un menu permettant de consulter les paramétres utilisateur et 
            qui gére la connexion/déconnexion. #}
            <ul class="nav nav-pills nav-stacked">
              <li><a href="#') }}">Mon compte</a></li>
              <li><a href="#">Me déconnecté</a></li>
            </ul>
          {% endblock %}
        </div>

        <div id="content" class="col-md-9">
            {% block body %}
                {# Le corps de la page s'inserera ici #}
            {% endblock %}
        </div>

        <hr>

        <footer>
          <p>Florilege © {{ 'now'|date('Y') }}.</p>
        </footer>
      </div>

    {% block javascripts %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>