{% extends "::base.html.twig" %}

{% block title %}Rédaction {{ parent() }}{% endblock %}

{% block body %}

    {# On définit un block contenant toutes les actions que l'utilisateur vas réalisé #}
	{% block menu %}
	{% endblock %}

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block redaction_body %}
    {% endblock %}

{% endblock %}