{% extends "RedactionBunfdle::layout.html.twig" %}

{% block title %}
	Mon compte - {{ parent() }}
{% endblock %}

{% block redaction_body %}

	<form>
		<div id="name">
			<span class="col-xs-12 col-md-6">Nom</span>
			<input type="email" name="email" class="col-xs-12 col-md-6">
		</div>

		<div id="lastname">
			<span class="col-xs-12 col-md-6">Prénom</span>
			<input type="email" name="email" class="col-xs-12 col-md-6">
		</div>

		<div id="email">
			<span class="col-xs-12 col-md-6">Adresse e-mail</span>
			<input type="email" name="email" class="col-xs-12 col-md-6">
		</div>

		<div id="password">
			<span class="col-xs-12 col-md-6">mot de passe</span>
			<input type="password" name="password" class="col-xs-12 col-md-6">
		</div>
	</form>

{% endblock %}